<!-- <div class="breadcrumb-style gva-parallax-background" style="background-color: #F6F6F6;background-image: url('https://www.applexus.com/sites/default/files/Banner-About.jpg');background-position: center top;background-repeat: no-repeat;">
    <div class="container">
      <div class="breadcrumb-content-main">
        <h2 class="page-title">About </h2>
         
                      
   
      </div> 
    </div> 
    <div class="gva-parallax-inner skrollable skrollable-between" data-bottom-top="top: -80%;" data-top-bottom="top: 0%;" style="top: -31.1456%;"></div>    
  </div>
-->

<div class="breadcrumb-style gva-parallax-background">
    <img  class="img-fluid" 
    style="background-position: center top;background-repeat: no-repeat;"
    src="https://www.applexus.com/sites/default/files/Banner-About.jpg"/>
    <div class="centered">About</div>    
</div>
<br>
<br>
<div class="container">
    <div class="row">
      <div class="col">
        <h2>Innovate to Transform</h2>
     <p>
        Applexus Technologies is the global technology leader offering business consulting and SAP services to transform customers through digital innovation. We specialize in advisory, migration, implementation and management of SAP S/4HANA and B/4HANA solutions. With our client engagement model built on the cornerstones of integrity and trust, Applexus delivers transformational business solutions for a marquee list of clients spanning retail, fashion, and consumer products industries.
     </p>

     <br>
     <p>
        Since our inception in 2005, Applexus has always put the customer first, developing technology solutions that help them transform their business. Applexus operates out of centers in North America, the United Kingdom, Middle East, and India. We are committed to making a positive impact by serving our communities worldwide. 
     </p>
      </div>
      <div class="col">
        <img class="img-fluid" 
        style="background-position: center top;background-repeat: no-repeat;"
        src="https://www.applexus.com/sites/default/files/images/corporate/why-applexus.png"/>
      </div>
    </div>
</div>